<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="WatchPath" value="C:\\Users\\Jens\\Downloads\\" />
    <add key="ExtensionDatabaseFile" value="C:\\Users\\Jens\\source\\repos\\Folder-Organizer\\Folder Organizer\\Folder Organizer\\bin\\Debug\\filemap.csv" />
  </appSettings>
</configuration>